<!-- <footer>
  <span>Inception — a cinematic fan tribute</span>
  <span>Not affiliated with Warner Bros. or Legendary · Film © <span class="fg">MMX</span></span>
  <span>Built as a dream · Tested in reality</span>
</footer> -->

<!-- <footer>

  <div class="footer-main">
    <span>Inception — a cinematic fan tribute</span>
    <span>Designed &amp; built by <strong>Fara</strong></span>
  </div>

  <div class="footer-meta">
    <span>Not affiliated with Warner Bros. or Legendary</span>
    <span>Film © <span class="fg">MMX</span></span>
    <span>Built as a dream · Tested in reality</span>
  </div>

</footer> -->

<footer>
  <span>
    <blockquote>“You mustn’t be afraid to dream a little bigger!“</blockquote>
    <hr>
    Designed &amp; built by <a href=""><strong>Fara</strong></a></span
  >
</footer>
