<!-- depth rail -->
<nav class="rail" id="rail" aria-label="Depth rail">
  <button data-t="#reality"><em>Reality</em><i></i></button>
  <button data-t="#film"><em>The Film</em><i></i></button>
  <button data-t="#story"><em>Story</em><i></i></button>
  <button data-t="#trailer"><em>Trailer</em><i></i></button>
  <button data-t="#layers"><em>Descent</em><i></i></button>
  <button data-t="#architecture"><em>The City</em><i></i></button>
  <button data-t="#cast"><em>The Cast</em><i></i></button>
  <button data-t="#totem"><em>Totem</em><i></i></button>
  <button data-t="#limbo"><em>Limbo</em><i></i></button>
  <button data-t="#finale"><em>The Cut</em><i></i></button>
</nav>
